.rating-stars-wrapper {
  display: flex;
  gap: 5px;
  align-items: center;
}

.star {
  transition: color 0.3s;
}

@media (max-width: 480px){
    .rating-stars-wrapper {
    display: flex;
    align-items: center;
  }
}